aniso8601==9.0.1
annotated-types==0.7.0
blinker==1.8.2
click==8.1.7
environs==11.0.0
fastapi==0.100.1
Flask==3.0.3
Flask-RESTful==0.3.10
httptools==0.6.1
itsdangerous==2.2.0
marshmallow==3.22.0
pydantic==2.9.1
pydantic_core==2.23.3
python-dotenv==1.0.1
pytz==2024.2
starlette==0.27.0
uvicorn==0.23.2
uvloop==0.20.0
watchfiles==0.24.0
websockets==13.0.1
Werkzeug==3.0.4
