aniso8601==9.0.1
annotated-types==0.7.0
blinker==1.8.2
click==8.1.7
distro==1.9.0
environs==11.0.0
fastapi==0.100.1
httptools==0.6.1
itsdangerous==2.2.0
jiter==0.5.0
jsonpatch==1.33
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.5
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langsmith==0.1.125
marshmallow==3.22.0
numpy==1.26.4
openai==1.47.1
orjson==3.10.7
pydantic==2.9.1
pydantic-settings==2.5.2
pydantic_core==2.23.3
pypdf==5.0.0
python-dotenv==1.0.1
pytz==2024.2
regex==2024.9.11
scikit-learn==1.5.2
scipy==1.14.1
starlette==0.27.0
tenacity==8.5.0
tiktoken==0.7.0
tqdm==4.66.5
uvicorn==0.23.2
uvloop==0.20.0
watchfiles==0.24.0
websockets==13.0.1
Werkzeug==3.0.4